<!--
///----------------------------------------------------------------------------------------------------
///	Mobile App Built & Owned by: Vensatile Technologies 
/// URL: http://www.vensatile.com
/// - Custom js code, html-css markup created/developed are part of this mobile app.
///	- Do not reuse or share any code from this app without permission from concern person or company.
///----------------------------------------------------------------------------------------------------
///	Disclaimer:
/// - We does not claim ownership for html-css, js, mobile gui, or any framework used in this app.
/// - Html, css, javascript, and app gui framework are property of the company who built and own it.
///----------------------------------------------------------------------------------------------------
-->
<ion-view title="{{navTitle}}" >

	<ion-nav-buttons side="left" ng-controller="ForgotPasswordBackButtonCtrl" >
		<button class="button icon button-icon ion-ios7-arrow-left" ng-click="backToLogin();" ></button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right" >
	</ion-nav-buttons>

    <span us-spinner="{ lines: 13, length: 16, width: 6, radius: 20, corners: 1, rotate: 0, direction: 1, color: '#000', speed: 1, trail: 60, shadow: false, hwaccel: false, className: 'vt-spinner' }" spinner-key="myspinner"   ></span>

    <ion-content class="has-header vt-page-bg" >
		<br />
		<form class="padding-left padding-right" name="myForm" ng-submit="ConfirmFormSubmit()"  ng-controller="ForgotPasswordFormCtrl" >    

                <label class="item item-input" >
                    <span class="input-label" >
                        E-mail
                        <span class="vt-form-error" ng-show="myForm.myemailid.$error.required">*</span>
                        <span class="vt-form-error" ng-show="myForm.myemailid.$error.email" >(invalid format)</span>
                    </span>
                    <input type="email" placeholder="" name="myemailid" ng-model="m_myemailid" required />
                </label>					          

                <input type="submit" id="btn_submit" value=" Submit " class="button button-block" ng-show="myForm.$valid == true" />
                <input type="button" id="btn_temp" value=" Can't Submit ( Invalid Info. ) " class="button button-block button-assertive" ng-show="myForm.$valid == false" />

				<!-- myForm.$valid = {{myForm.$valid}} -->
		</form>

		<div class="vt-bottom-banner-space" ></div>

    </ion-content>

</ion-view>